<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demomb.mapper.UserMapper">
    <!--insert(User user)-->
    <insert id="save">
        insert into userentity
        values (null, #{user}, #{password}, #{age}, #{sex}, #{email})
    </insert>

    <!--delete(Integer id)-->
    <delete id="delete">
        delete
        from userentity
        where id = #{id}
    </delete>

    <update id="update">
        update userentity
        <set>
            user=#{user},
            password = #{password},
            address = #{address},
            email=#{email}
        </set>
        where id = #{email}
    </update>

    <update id="deletenotreal">
        update userentity
        <set>
            id_delete=1
        </set>
        where id = #{id}
    </update>

</mapper>
